<div class="container-fluid bg-light">
	<div class="container bg-light">
		<div class="row mt-5" style="height: 600px;">
			<div class="col"></div>
			<div class="col-md-6 bg-white shadow">
				<div class="card bg-primary mt-3">
					<h4 class="text-white text-center ps-2 pt-2 pb-2">To Do Task</h4>
				</div>
				<div class="shadow">
					<div class="input-group p-3">
						<input type="text" class="form-control" placeholder="Add your Task" aria-label="Task" name="task" [(ngModel)]="addTaskData">
						<button class="btn btn-outline-success" type="button" (click)="addTask()">Add</button>
					</div>
				</div>
				<h3 class="text-primary mt-5">Task:</h3>
				<div class="" style="overflow-y:auto; height: 350px;">
					<div class="m-3" *ngFor="let data of taskArr">
						<div class="p-2 shadow border">
							<div class="input-group row ps-3">
								<div class="card col-md-8 border-0">{{data.task}}
								</div>
								<button class="btn btn-outline-primary col me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="callEdit(data)">Edit</button>
								<div class="btn btn-outline-danger col" (click)="deleteTask(data)">X</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal reprendre le code -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Edit Task</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="input-group p-3">
									<input type="text" class="form-control" placeholder="Add your Task" name="task" [(ngModel)]="editTaskData">
									<button class="btn btn-outline-success" data-bs-dismiss="modal" type="button" (click)="editTask()">Update</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col"></div>


		</div>
	</div>
</div>
