.example-spacer {
    flex: 1 1 auto;
}

.justify-content-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}



.m-auto {
    margin: auto;
}

.example-spacer:hover {
    color: white;
}