<div class="container">
	<h2>Site ERP de Restaurants / ToDoList</h2>
	<p>Le projet
		<strong>ERP Restaurant Angular</strong>
		réalisé avec Material et en CSS permet de récupérer les données d'un projet Back Symfony/MySQL. Pour cela, j'ai utilisé l'API REST Platform. Les entités Restaurants sont modifiables en CRUD sur Angular.</p>

</div>
<div class="center">
	<a mat-raised-button color="primary" [routerLink]="['/add-resto']" class="linkresto">+ Add Restaurant</a>
</div>

<div class="center">
	<a mat-raised-button color="primary" [routerLink]="['/resto']" class="linkresto">Liste des  Restaurants</a>
</div>

<h2 class="center">ToDoList</h2>
<p class="center">Le projet
	<strong>ToDoList</strong>
	est lui aussi réalisé avec une API REST platform.
</p>
<div class="center">
	<a mat-raised-button color="primary" [routerLink]="['/dashboard']" class="linkresto">Liste des  Tâches</a>
</div>
