<div class="container">
	<h2>Site ERP de Restaurants</h2>
	<p>Ce projet Angular réalisé avec Material et en CSS permet de récupérer les données d'un projet Back Symfony/MySQL. Pour cela, j'ai utilisé l'API Platform. Les entités Restaurants sont modifiables en CRUD sur Angular.</p>
</div>
<div class="center">
	<a mat-raised-button color="primary" [routerLink]="['/add-resto']" class="linkresto">+ Add Restaurant</a>
</div>

<div class="center">
	<a mat-raised-button color="primary" [routerLink]="['/resto']" class="linkresto">Liste des  Restaurants</a>
</div>

<div class="center">
	<a mat-raised-button color="primary" [routerLink]="['/dashboard']" class="linkresto">Liste des  Taches</a>
</div>
